:root {
  --accent-color: #d41443;
  --main-color: #ffb8ca;
  --main-dark: #ffa5ba;
  --standart-white: #ffffff;
  --bg-main-color: #fff5f6;
  --bg-sec-color: #f0d1a5;
  --bg-third-color: #c2e297;
  --main-text-color: #000000;
  --second-text-color: #907e82;
  --title-font: 'Titan One', cursive;
  --main-font: 'DM Sans', sans-serif;
  --btn-hover: #ecebeb;
}
