<section class="about" id="how-it-made">
  <div class="container about__container">
    <p class="about__above">Tradition and love</p>
    <h2 class="about__title">How it’s made?</h2>
    <div class="about__block">
      <picture class="about__picture">
        <source
          srcset="./images/cow-mob.png 1x, ./images/cow-mob-2x.png 2x"
          media="(min-width: 1200px)"
        />
        <!-- <source
          srcset="./images/cow-tab.png 1x, ./images/cow-tab-2x.png 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./images/cow-desk.png 1x, ./images/cow-desk-2x.png 2x"
          media="(min-width: 320px)"
        /> -->
        <img
          class="about__img"
          srcset="./images/cow-mob.png 1x, ./images/cow-mob-2x.png 2x"
          src="./images/cow-mob.png"
          alt="a cow with milk"
          width="280"
        />
      </picture>
      <div class="about__text--block">
        <p class="about__text about__text--one">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <p class="about__text about__text--two">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.
        </p>
        <p class="about__text about__text--trd">
          Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button type="button" class="about__link" data-read-more-open>
          Read more
          <svg class="link-arrow__icon">
            <use href="./images/sprite.svg.svg#arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
