<section class="adventages" id="advantages">
  <div class="container">
    <h2 hidden class="visually-hidden">advantages</h2>
    <ul class="adventages__list list">
      <li class="adventages__item">
        <span class="adventages__amount adventages__milk">721</span>
        <p class="adventages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="adventages__item">
        <span class="adventages__amount adventages__applase">16kg</span>
        <p class="adventages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="adventages__item">
        <span class="adventages__amount adventages__heart">84</span>
        <p class="adventages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
