<section class="contacts section" id="contacts">
    <div class="contacts-container container">
        <h2 hidden class="visually-hidden">Contacts</h2>
        <ul class="contacts-grid list">
            <li class="contacts-grid-item">
                <div class="contacts-wrap">
                    <p class="contacts-category">Cafe</p>
                    <h3 class="contacts-city">Chicago</h3>
                    <p class="contacts-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <ul class="contacts-uptime list">
                    <li class="contacts-uptime-item">
                        <p class="contacts-workday">
                            Monday - Friday
                        </p>
                        <time class="contacts-worktime" datetime="06:00">
                            06:00 AM</time> - <time class="contacts-worktime" datetime="22:00">10:00 PM</time>

                    </li>
                    <li class="contacts-uptime-item">
                        <p class="contacts-workday">
                            Saturday - Sunday
                        </p>
                        <time class="contacts-worktime" datetime="08:00">
                            08:00 AM</time> - <time class="contacts-worktime" datetime="16:00">16:00 PM</time>
                    </li>
                </ul>
                <ul class="contacts-connect list">
                    <li class="contacts-connect-item">
                        <a href="tel:+610383766284" class="contacts-connect-link link">
                            +61(0) 383 766 284
                        </a>
                    </li>
                    <li class="contacts-connect-item">
                        <a href="mailto:noreply@envato.com" class="contacts-connect-link link">
                            noreply@envato.com
                        </a>
                    </li>
                </ul>
            </li>

            <li class="contacts-grid-item">
                <div class="contacts-wrap">
                    <p class="contacts-category">Food truck</p>
                    <h3 class="contacts-city">Los Angeles</h3>
                    <p class="contacts-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <ul class="contacts-uptime list">
                    <li class="contacts-uptime-item">
                        <p class="contacts-workday">
                            Monday - Friday
                        </p>
                        <time class="contacts-worktime" datetime="06:00">
                            06:00 AM</time> - <time class="contacts-worktime" datetime="22:00">10:00 PM</time>

                    </li>
                    <li class="contacts-uptime-item">
                        <p class="contacts-workday">
                            Saturday - Sunday
                        </p>
                        <time class="contacts-worktime" datetime="08:00">
                            08:00 AM</time> - <time class="contacts-worktime" datetime="16:00">16:00 PM</time>
                    </li>
                </ul>
                <ul class="contacts-connect list">
                    <li class="contacts-connect-item">
                        <a href="tel:+610383766284" class="contacts-connect-link link">
                            +61(0) 383 766 284
                        </a>
                    </li>
                    <li class="contacts-connect-item">
                        <a href="mailto:noreply@envato.com" class="contacts-connect-link link">
                            noreply@envato.com
                        </a>
                    </li>
                </ul>
            </li>

            <li class="contacts-grid-item">
                <div class="contacts-wrap">
                    <p class="contacts-category">Cafe</p>
                    <h3 class="contacts-city">New York</h3>
                    <p class="contacts-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <ul class="contacts-uptime list">
                    <li class="contacts-uptime-item">
                        <p class="contacts-workday">
                            Monday - Friday
                        </p>
                        <time class="contacts-worktime" datetime="06:00">
                            06:00 AM</time> - <time class="contacts-worktime" datetime="22:00">10:00 PM</time>

                    </li>
                    <li class="contacts-uptime-item">
                        <p class="contacts-workday">
                            Saturday - Sunday
                        </p>
                        <time class="contacts-worktime" datetime="08:00">
                            08:00 AM</time> - <time class="contacts-worktime" datetime="16:00">16:00 PM</time>
                    </li>
                </ul>
                <ul class="contacts-connect list">
                    <li class="contacts-connect-item">
                        <a href="tel:+610383766284" class="contacts-connect-link link">
                            +61(0) 383 766 284
                        </a>
                    </li>
                    <li class="contacts-connect-item">
                        <a href="mailto:noreply@envato.com" class="contacts-connect-link link">
                            noreply@envato.com
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <ul class="location-list list">
        <li class="location-item">
            <button type="button" class="location-btn btn-invert" aria-label="Open locations" data-loc-open>
                Our Locations <svg class="location-btn__icon" width="8" height="10">
                    <use href="./images/sprite.svg.svg#arrow-white"></use>
                </svg>
            </button>
        </li>
        <li class="location-item">
            <button type="button" class="location-btn btn" aria-label="Open franchise offer" data-franchise-open>
                Franchise <svg class="location-btn__icon" width="8" height="10">
                    <use href="./images/sprite.svg.svg#arrow"></use>
                </svg>
            </button>
        </li>
    </ul>
</section>