
<section class="gallery">
    <div class="gallery__container">
    <h2 class="gallery__tittle visually-hidden">Gallery</h2>
    <ul class="gallery__list">
      <li class="gallery__item">
        <a href="#img1" class="gallery__link-img"><picture>
            <source srcset="./images/gallery-desk-1.jpg 1x, 
                                  ./images/gallery-desk-1-2x.jpg 2x" media="(min-width: 1200px)" />
            <source srcset="./images/gallery-tab-1.jpg 1x,
                                    ./images/gallery-tab-1-2x.jpg 2x" media="(min-width: 768px)" />
            <source srcset="./images/gallery-mob-1.jpg 1x,
                                    ./images/gallery-mob-1-2x.jpg 2x" media="(max-width: 767px)" />
            <img class="fit" src="./images/gallery-desk-1.jpg" alt="ice-cream picture" />
        </picture>
        </a>
        <a href="#no_scroll" class="lightbox" id="img1">
          <span class="gallery__lb__img" style="background-image:url('./images/gallery-desk-1-2x.png')"></span>
        </a>
      </li>
      <li class="gallery__item">
        <a href="#img2">
                <picture>
                    <source srcset="./images/gallery-desk-2.jpg 1x, 
                          ./images/gallery-desk-2-2x.jpg 2x" media="(min-width: 1200px)" />
                    <source srcset="./images/gallery-tab-2.jpg 1x,
                            ./images/gallery-tab-2-2x.jpg 2x" media="(min-width: 768px)" />
                    <source srcset="./images/gallery-mob-2.jpg 1x,
                            ./images/gallery-mob-2-2x.jpg 2x" media="(max-width: 767px)" />
                    <img class="fit" src="./images/gallery-desk-2.jpg" alt="ice-cream picture" />
                </picture>
                </a>
                <a href="#no_scroll" class="lightbox" id="img2">
                  <span class="gallery__lb__img" style="background-image:url('./images/gallery-desk-2-2x.png')"></span>
                </a>
      </li>
      <li class="gallery__item">
        <a href="#img4">
        <picture>
            <source srcset="./images/gallery-desk-4.jpg 1x, 
                                  ./images/gallery-desk-4-2x.jpg 2x" media="(min-width: 1200px)" />
            <source srcset="./images/gallery-tab-4.jpg 1x,
                                    ./images/gallery-tab-4-2x.jpg 2x" media="(min-width: 768px)" />
            <source srcset="./images/gallery-mob-4.jpg 1x,
                                    ./images/gallery-mob-4-2x.jpg 2x" media="(max-width: 767px)" />
            <img class="fit" src="./images/gallery-desk-4.jpg" alt="ice-cream picture" />
        </picture>
        </a>
        <a href="#no_scroll" class="lightbox" id="img4">
          <span class="gallery__lb__img" style="background-image:url('./images/gallery-desk-4-2x.png')"></span>
        </a>
      </li>
      <li class="gallery__item">
        <a href="#img6">
        <picture>
            <source srcset="./images/gallery-desk-6.jpg 1x, 
                                  ./images/gallery-desk-6-2x.jpg 2x" media="(min-width: 1200px)" />
            <source srcset="./images/gallery-tab-6.jpg 1x, 
                                    ./images/gallery-tab-6-2x.jpg 2x" media="(min-width: 768px)" />
            <source srcset="./images/gallery-mob-6.jpg 1x,
                                    ./images/gallery-mob-6-2x.jpg 2x" media="(max-width: 767px)" />
            <img class="fit" src="./images/gallery-desk-6.jpg" alt="ice-cream picture" />
        </picture>
        </a>
        <a href="#no_scroll"  class="lightbox" id="img6">
          <span class="gallery__lb__img" style="background-image:url('./images/gallery-desk-6-2x.png')"></span>
        </a>
      </li>
      <li class="gallery__item">
        <a href="#img8">
        <picture>
            <source srcset="./images/gallery-desk-8.jpg 1x, 
                                  ./images/gallery-desk-8-2x.jpg 2x" media="(min-width: 1200px)" />
            <source srcset="./images/gallery-tab-8.jpg 1x,
                                    ./images/gallery-tab-8-2x.jpg 2x" media="(min-width: 768px)" />
            <source srcset="./images/gallery-mob-8.jpg 1x,
                                    ./images/gallery-mob-8-2x.jpg 2x" media="(max-width: 767px)" />
            <img class="fit" src="./images/gallery-desk-8.jpg" alt="ice-cream picture" />
        </picture>
        </a>
        <a href="#no_scroll"  class="lightbox" id="img8">
          <span class="gallery__lb__img" style="background-image:url('./images/gallery-desk-8-2x.png')"></span>
        </a>
      </li>
      <li class="gallery__item">
        <a href="#img10">
        <picture>
            <source srcset="./images/gallery-desk-10.jpg 1x, 
                                  ./images/gallery-desk-10-2x.jpg 2x" media="(min-width: 1200px)" />
            <source srcset="./images/gallery-tab-10.jpg 1x,
                                    ./images/gallery-tab-10-2x.jpg 2x" media="(min-width: 768px)" />
            <source srcset="./images/gallery-mob-10.jpg 1x,
                                    ./images/gallery-mob-10-2x.jpg 2x" media="(max-width: 767px)" />
            <img class="fit" src="./images/gallery-desk-10.jpg" alt="ice-cream picture" />
        </picture>
        </a>
        <a href="#no_scroll"  class="lightbox" id="img10">
          <span class="gallery__lb__img" style="background-image:url('./images/gallery-desk-10-2x.png')"></span>
        </a>
      </li>
      <li class="gallery__item">
        <a href="#img3">
        <picture>
                    <source srcset="./images/gallery-desk-3.jpg 1x, 
                          ./images/gallery-desk-3-2x.jpg 2x" media="(min-width: 1200px)" />
                    <source srcset="./images/gallery-tab-3.jpg 1x,
                            ./images/gallery-tab-3-2x.jpg 2x" media="(min-width: 768px)" />
                    <source srcset="./images/gallery-mob-3.jpg 1x,
                            ./images/gallery-mob-3-2x.jpg 2x" media="(max-width: 767px)" />
                    <img class="fit" src="./images/gallery-desk-3.jpg" alt="ice-cream picture" />
                </picture>
                </a>
                <a href="#no_scroll" class="lightbox" id="img3">
                  <span class="gallery__lb__img" style="background-image:url('./images/gallery-desk-3-2x.png')"></span>
                </a>
      </li>
      <li class="gallery__item">
        <a href="#img5">
        <picture>
            <source srcset="./images/gallery-desk-5.jpg 1x,  
                                  ./images/gallery-desk-5-2x.jpg 2x" media="(min-width: 1200px)" />
            <source srcset="./images/gallery-tab-5.jpg 1x,
                                    ./images/gallery-tab-5-2x.jpg 2x" media="(min-width: 768px)" />
            <source srcset="./images/gallery-mob-5.jpg 1x,
                                    ./images/gallery-mob-5-2x.jpg 2x" media="(max-width: 767px)" />
            <img class="fit" src="./images/gallery-desk-5.jpg" alt="ice-cream picture" />
        </picture>
        </a>
        <a href="#no_scroll" class="lightbox" id="img5">
          <span class="gallery__lb__img" style="background-image:url('./images/gallery-desk-5-2x.png')"></span>
        </a>
      </li>
      <li class="gallery__item">
        <a href="#img7">
        <picture>
            <source srcset="./images/gallery-desk-7.jpg 1x, 
                ./images/gallery-desk-7-2x.jpg 2x" media="(min-width: 1200px)" />
            <source srcset="./images/gallery-tab-7.jpg 1x,
                                    ./images/gallery-tab-7-2x.jpg 2x" media="(min-width: 768px)" />
            <source srcset="./images/gallery-mob-7.jpg 1x,
                                    ./images/gallery-mob-7-2x.jpg 2x" media="(max-width: 767px)" />
            <img class="fit" src="./images/gallery-desk-7.jpg" alt="ice-cream picture" />
        </picture>
        </a>
        <a href="#no_scroll" class="lightbox" id="img7">
          <span class="gallery__lb__img" style="background-image:url('./images/gallery-desk-7-2x.png')"></span>
        </a>
      </li>
      <li class="gallery__item">
        <a href="#img9">
        <picture>
            <source srcset="./images/gallery-desk-9.jpg 1x, 
                                  ./images/gallery-desk-9-2x.jpg 2x" media="(min-width: 1200px)" />
            <source srcset="./images/gallery-tab-9.jpg 1x,
                                    ./images/gallery-tab-9-2x.jpg 2x" media="(min-width: 768px)" />
            <source srcset="./images/gallery-mob-9.jpg 1x,
                                    ./images/gallery-mob-9-2x.jpg 2x" media="(max-width: 767px)" />
            <img class="fit" src="./images/gallery-desk-9.jpg" alt="ice-cream picture" />
        </picture>
        </a>
        <a href="#no_scroll" class="lightbox" id="img9">
          <span class="gallery__lb__img" style="background-image:url('./images/gallery-desk-9-2x.png')"></span>
        </a>
      </li>
    </ul>
    </div>
</section>
