<section class="products">
    <div class="products__container container">
      <p class="products__lable">100% natural </p>
      <h2 class="products__title" id="our-products">products</h2>
      <ul class="products__list">
        <li class="products__item products-info ice-cream list">
         
            <h3 class="products-info__title">ice cream</h3>
            <p class="products-info__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et. dolore magna aliqua
              facilisis.
            </p>
            <a class="products-link" href="https://www.bbcgoodfood.com/recipes/collection/ice-cream-recipes" target="_blank">
              <svg class="link-more" width="40" height="40">
                  <use href="./images/sprite.svg.svg#icon-arrow-right"></use>
                </svg>
              </a>
          
        
        </li>
        <li class="products__item products-info ice-coffee list">
          
            <h3 class="products-info__title">ice coffee</h3>
            <p class="products-info__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et. dolore magna aliqua
              facilisis.
            </p>
            <a class="products-link" href="https://www.delish.com/uk/cocktails-drinks/a36327192/how-to-make-iced-coffee/" target="_blank">
              <svg class="link-more" width="40" height="40">
                  <use href="./images/sprite.svg.svg#icon-arrow-right"></use>
                </svg>
              </a>
          
        </li>
        <li class="products__item products-info  milkshakes list">
          
            <h3 class="products-info__title">milkshakes</h3>
            <p class="products-info__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et. dolore magna aliqua
              facilisis.
            </p>
            <a class="products-link" href="https://www.bbcgoodfood.com/search?q=milkshaikes" target="_blank">
              <svg class="link-more" width="40" height="40">
                  <use href="./images/sprite.svg.svg#icon-arrow-right"></use>
                </svg>
            </a>
          
        </li>
      </ul>
    </div>
  </section>
  
  