<div class="read-more read-more-backdrop read-more-hidden" data-read-more>
    <div class="read-more-modal">
        <button type="button" class="modal__btn modal__close" data-read-more-close>
            <svg class="modal__close-icon" width="18" height="18">
                <use href="./images/sprite.svg.svg#close"></use>
            </svg>
        </button>

        <article class="read-more-article">
            <h2 class="read-more-title">What Is Ice Cream?</h2>
            <p class="read-more-text-main">Ice cream is a mixture of milk, cream, sugar, and sometimes other ingredients that has been frozen into a soft, creamy delight using special techniques.</p>
            <p class="read-more-text">Ice cream has been a popular treat for hundreds of years but has only become commonplace since the widespread use of refrigeration.</p>

            <h3 class="read-more-sub-title">Types of ice cream</h3>
            <ul class="read-more-list list">
                <li class="read-more-item">
                    <h4 class="read-more-item-title">Regular ice cream</h4>
                    <p class="read-more-item-text">Regular ice cream has no less than 10% milk fat.</p>
                </li>
                <li class="read-more-item">
                    <h4 class="read-more-item-title">Reduced fat ice cream</h4>
                    <p class="read-more-item-text">Reduced fat ice cream is approximately 7% fat.</p>
                </li>
                <li class="read-more-item">
                    <h4 class="read-more-item-title">Low-fat ice cream</h4>
                    <p class="read-more-item-text">Low-fat ice cream is no more than 3% milk fat.</p>
                </li>
                <li class="read-more-item">
                    <h4 class="read-more-item-title">Soft-ice cream</h4>
                    <p class="read-more-item-text">Soft-serve ice cream is aerated and frozen immediately before sale to make a frozen but fluid ice cream.</p>
                </li>
                <li class="read-more-item">
                    <h4 class="read-more-item-title">Gelato</h4>
                    <p class="read-more-item-text">Strictly speaking, gelato always has some dairy component, otherwise it's a sorbetto (sorbet) or granita. More generally, gelato refers to frozen ice desserts ranging from granita and sorbetto to semi-freddo.</p>
                </li>
            </ul>
        </article>
    </div>
</div>
