<section class="reviews__section" id="reviews">
  <div class="container reviews">
    <div class="swiper mySwiper">
      <div class="slide-content">
        <div class="swiper-wrapper">
          <div class="card swiper-slide">
            <h2 class="visually-hidden">Reviews</h2>
            <picture>
              <source
                srcset="
                  ./images/customer-1.jpg    1x,
                  ./images/customer-1-2x.jpg 2x
                "
              />
              <img
                class="reviews__img"
                src="./images/customer-1.jpg"
                alt="Foto client"
                width="85"
                height="85"
              />
            </picture>

            <div class="reviews__comment">
              <svg
                class="reviews__quotes"
                width="54"
                height="40"
                aria-label="Quotes"
              >
                <use href="./images/sprite.svg.svg#icon-reveiw-icon"></use>
              </svg>
              <p class="reviews__comment-item">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>

              <span class="reviews__border"></span>
            </div>
            <div class="reviews__name-container">
              <div class="reviews__container-point">
                <svg
                  class="reviews__point"
                  width="4"
                  height="4"
                  aria-label="Icon Point"
                >
                  <use href="./images/sprite.svg.svg#icon-point"></use>
                </svg>
                <svg
                  class="reviews__point"
                  width="4"
                  height="4"
                  aria-label="Icon Point"
                >
                  <use href="./images/sprite.svg.svg#icon-point"></use>
                </svg>
                <svg
                  class="reviews__point"
                  width="4"
                  height="4"
                  aria-label="Icon Point"
                >
                  <use href="./images/sprite.svg.svg#icon-point"></use>
                </svg>
              </div>
              <p class="reviews__name">Emily, Los Angeles</p>
            </div>
          </div>
          <div class="card swiper-slide">
            <h2 class="visually-hidden">Reviews</h2>
            <picture>
              <source
                srcset="
                  ./images/customer-2.jpg    1x,
                  ./images/customer-2-2x.jpg 2x
                "
              />
              <img
                class="reviews__img"
                src="./images/customer-2.jpg"
                alt="Foto client"
                width="85"
                height="85"
              />
            </picture>

            <div class="reviews__comment">
              <svg
                class="reviews__quotes"
                width="54"
                height="40"
                aria-label="Quotes"
              >
                <use href="./images/sprite.svg.svg#icon-reveiw-icon"></use>
              </svg>
              <p class="reviews__comment-item">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>

              <span class="reviews__border"></span>
            </div>
            <div class="reviews__name-container">
              <div class="reviews__container-point">
                <svg
                  class="reviews__point"
                  width="4"
                  height="4"
                  aria-label="Icon Point"
                >
                  <use href="./images/sprite.svg.svg#icon-point"></use>
                </svg>
                <svg
                  class="reviews__point"
                  width="4"
                  height="4"
                  aria-label="Icon Point"
                >
                  <use href="./images/sprite.svg.svg#icon-point"></use>
                </svg>
                <svg
                  class="reviews__point"
                  width="4"
                  height="4"
                  aria-label="Icon Point"
                >
                  <use href="./images/sprite.svg.svg#icon-point"></use>
                </svg>
              </div>
              <p class="reviews__name">Jully, Las Vegas</p>
            </div>
          </div>
          <div class="card swiper-slide">
            <h2 class="visually-hidden">Reviews</h2>
            <picture>
              <source
                srcset="
                  ./images/customer-3.jpg    1x,
                  ./images/customer-3-2x.jpg 2x
                "
              />
              <img
                class="reviews__img"
                src="./images/customer-3.jpg"
                alt="Foto client"
                width="85"
                height="85"
              />
            </picture>

            <div class="reviews__comment">
              <svg
                class="reviews__quotes"
                width="54"
                height="40"
                aria-label="Quotes"
              >
                <use href="./images/sprite.svg.svg#icon-reveiw-icon"></use>
              </svg>
              <p class="reviews__comment-item">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>

              <span class="reviews__border"></span>
            </div>
            <div class="reviews__name-container">
              <div class="reviews__container-point">
                <svg
                  class="reviews__point"
                  width="4"
                  height="4"
                  aria-label="Icon Point"
                >
                  <use href="./images/sprite.svg.svg#icon-point"></use>
                </svg>
                <svg
                  class="reviews__point"
                  width="4"
                  height="4"
                  aria-label="Icon Point"
                >
                  <use href="./images/sprite.svg.svg#icon-point"></use>
                </svg>
                <svg
                  class="reviews__point"
                  width="4"
                  height="4"
                  aria-label="Icon Point"
                >
                  <use href="./images/sprite.svg.svg#icon-point"></use>
                </svg>
              </div>
              <p class="reviews__name">Monica, Dallas</p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination">
        <svg
          class="reviews__ellipse"
          width="12.4"
          height="11.84"
          aria-label="Icon Home"
        >
          <use href="./images/sprite.svg.svg#icon-home"></use>
        </svg>
        <!-- <svg
          class="reviews__ellipse"
          width="12.4"
          height="11.84"
          aria-label="Icon Home"
        >
          <use href="./images/sprite.svg.svg#icon-home"></use>
        </svg>
        <svg
          class="reviews__ellipse"
          width="12"
          height="12"
          aria-label="Icon Ellipse"
        >
          <use href="./images/sprite.svg.svg#icon-ellipse"></use>
        </svg>
        <svg
          class="reviews__ellipse"
          width="12"
          height="12"
          aria-label="Icon Ellipse"
        >
          <use href="./images/sprite.svg.svg#icon-ellipse"></use>
        </svg> -->
      </div>
      <!-- <div class="reviews__slider">
        <svg
          class="reviews__ellipse"
          width="12.4"
          height="11.84"
          aria-label="Icon Home"
        >
          <use href="./images/sprite.svg.svg#icon-home"></use>
        </svg>
        <svg
          class="reviews__ellipse"
          width="12"
          height="12"
          aria-label="Icon Ellipse"
        >
          <use href="./images/sprite.svg.svg#icon-ellipse"></use>
        </svg>
        <svg
          class="reviews__ellipse"
          width="12"
          height="12"
          aria-label="Icon Ellipse"
        >
          <use href="./images/sprite.svg.svg#icon-ellipse"></use>
        </svg>
      </div> -->
    </div>
  </div>
</section>

<script src="./swiper-bundle.min.js"></script>

<script src="./script.js"></script>
