.form__title,
.form__subtitle {
  @include font(null, 20px, 1.4);
  letter-spacing: 0.04em;
  color: var(--standart-white);
  text-transform: uppercase;
  @include tablet {
    font-size: 22px;
  }
}

.form__subtitle {
  font-family: var(--title-font);
  color: var(--standart-white);
  text-shadow: 2px 2px 4px var(--accent-color);
}

.form__title {
  color: var(--accent-color);
  text-align: center;
}

.modal__subtitle {
  text-align: right;
}

.form__text {
  @include font(null, 20px, 1.4);
  font-family: var(--title-font);
  letter-spacing: 0.04em;
  color: var(--standart-white);
  text-align: center;
  text-shadow: 2px 2px 4px var(--accent-color);
  @include tablet {
    font-size: 22px;
  }
}

.modal__btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;

  @extend %flex-standart;
}

.modal__close {
  background-color: var(--accent-color);
  border-radius: 50%;
  border: 1px solid transparent;
  cursor: pointer;
  stroke: var(--standart-white);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    outline: transparent;
    border-color: var(--accent-color);
    background-color: var(--btn-hover);
  }
  &:hover > .modal__close-icon,
  &:focus > .modal__close-icon {
    stroke: var(--accent-color);
  }
}

.modal-confirm {
  border-color: var(--main-dark);
  font-size: 16px;
  text-transform: uppercase;
  color: var(--standart-white);
  background: var(--accent-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: var(--bg-main-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    outline: transparent;
    color: var(--accent-color);
  }
  @include tablet {
    font-size: 20px;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  padding: 60px 20px;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  overflow-y: scroll;
  z-index: 10;
}

.modal {
  position: absolute;
  padding: 32px 32px;
  // top: 50%;
  left: 50%;
  width: 95%;
  max-width: 550px;
  transform: translate(-50%) scale(1) rotate(0);

  background-color: var(--main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 22px;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .backdrop.is-hidden & {
    transform: translate(-50%) scale(0) rotate(-360deg);
  }
}

.form__info {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  & .input,
  & .address {
    border: 1px solid var(--main-dark);
    border-radius: 22px;
  }
}

.form__payment {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 10px;

  & .input,
  & .address {
    border: 1px solid var(--main-dark);
    border-radius: 22px;
  }
}

.form__label {
  font-size: 10px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  @include tablet {
    font-size: 18px;
  }
}

.form__payment-label {
  font-family: 'Titan One';
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--accent-color);
  @include tablet {
    font-size: 20px;
  }
}

.modal__object-label {
  display: inline-block;
  &:not(:first-child) {
    margin-left: 4px;
  }
}

.modal__contact-label {
  padding-left: 15px;
  text-align: left;
  font-size: 15px;
  @include tablet {
    font-size: 18px;
  }
}

.form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .form-group:focus-within > & {
    fill: var(--accent-color);
  }
}

.form-input {
  width: 100%;
  background-color: transparent;
  padding: 12px 42px;

  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: transparent;
    border-color: var(--accent-color);
  }

  &::placeholder {
    color: var(--accent-color);
  }
}

.form__pretitle {
  font-size: 15px;
  line-height: 1.4;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--accent-color);
  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
}

.address {
  height: 60px;
  padding: 9px 10px;
  margin-left: 2px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-dark);

  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: transparent;
    border-color: var(--accent-color);
  }
}

.option {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--accent-color);
  @include tablet {
    font-size: 20px;
  }
}
.select {
  min-height: 35px;
  outline: transparent;
  border-color: var(--main-dark);
  color: var(--accent-color);
  border-radius: 22px;
  text-align: center;
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: transparent;
    border-color: var(--accent-color);
  }
}

.input {
  min-height: 35px;
  min-width: 35px;
  display: inline-block;
  margin-left: 2px;
  font-size: 12px;
  text-align: center;
  line-height: 1.17;
  letter-spacing: 0.01em;
  outline: transparent;
  border: 2px solid var(--main-dark);
  border-radius: 22px;
  color: var(--accent-color);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: transparent;
    border-color: var(--accent-color);
  }
}

.form__input {
  text-align: left;
  padding-left: 13px;
  &::placeholder {
    color: var(--main-dark);
  }
}

.modal__type {
  display: flex;
}

.modal__taste {
  display: flex;
  align-items: center;
  justify-content: end;
}
.form__object {
  min-height: 35px;
  margin-bottom: 10px;
  background-color: var(--standart-white);
  outline: transparent;
  border: 1px solid var(--main-dark);
  border-radius: 20px;
  color: var(--accent-color);

  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .checkbox:checked + & {
    outline: transparent;
    border-color: var(--accent-color);
  }
  .checkbox-icon:focus-within > & {
    border-color: var(--accent-color);
  }

  .checkbox:focus + & {
    outline: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.modal__object {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 10px;
  padding-right: 10px;
}

.checkbox-icon {
  vertical-align: middle;
  margin-right: 7px;

  border: 2px solid var(--main-dark);
  border-radius: 22px;

  fill-opacity: 0;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill-opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .checkbox:checked + & {
    background-color: var(--accent-color);
    border-color: transparent;
    fill-opacity: 1;
    fill: var(--standart-white);
  }

  .checkbox:focus + & {
    outline: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.radio-icon {
  vertical-align: middle;
  margin-right: 7px;

  border: 1px solid var(--accent-color);
  border-radius: 50%;

  fill-opacity: 0;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill-opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .radio:checked + & {
    background-color: var(--accent-color);
    border-color: transparent;
    fill-opacity: 1;
    fill: var(--standart-white);
  }

  .radio:focus + & {
    outline: var(--accent-color);
    border-color: var(--accent-color);
    border: 2px solid var(--accent-color);
  }
}