a {
    text-decoration: none;
  }

.hero {
  background-color: var(--main-color);
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  // @include tablet {
  //   // padding-right: 32px;
  //   // padding-left: 32px;
  // }
  // @include desktop {
  //   // padding-right: 16px;
  //   // padding-left: 16px;
  // }
}

.hero__container {
  padding-top: 83px;
  overflow-x: hidden;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
    width: auto;
    max-width: 400px;
  @include tablet {
    display: flex;
    padding-top: 92px;
    padding-right: 32px;
    padding-left: 32px;
    width: auto;
    max-width: 800px;
  }
  @include desktop {
    display: flex;
    padding-top: 147px;
    padding-right: 16px;
    padding-left: 16px;
    width: auto;
    max-width: 1300px;
  }
}

.hero__box--titel {
  @include mobile {
    position: absolute;
    top: 194px;
    z-index: 2;
  }
  @include tablet {
    position: static;
    width: 230px;
    // position: static;
    // margin-bottom: 19px;
    // margin-top: 20px;
  }
  @include desktop {
    position: static;
    width: 368px;
    // position: static;
    // margin-bottom: 56px;
  }
}

.hero__caption {
  @include tablet {
    margin-bottom: 20px;
  }
  @include desktop {
    margin-bottom: 40px;
  }
}

.hero__titel {
  font-family: var(--title-font);
  max-width: 218px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--standart-white);
  animation-duration: 1000ms;
  animation-name: slidein;
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }

    75% {
      font-size: 300%;
      margin-left: 25%;
      width: 150%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  @include tablet {
    max-width: 170px;
    // margin-bottom: 20px;
    font-size: 22px;
    line-height: 1.14;
    margin-top: 10px;
  }
  @include desktop {
    max-width: 280px;
    margin-bottom: 24px;
    font-size: 38px;
    line-height: 1.16;
  }
}

.hero__subtitel {
  font-weight: 400;
  font-size: 48px;
  line-height: 0.96;
  text-transform: uppercase;
  color: var(--accent-color);
  @include tablet {
    font-size: 34px;
    line-height: 0.91;
  }
  @include desktop {
    font-size: 58px;
    line-height: 0.91;
  }
}

.hero__list--btn {
  display: flex;
  color: inherit;
  }

.hero__item--btn:first-child {
  margin-right: 8px;
  @include desktop {
    margin-right: 12px;
  }
}

.hero__btn--dark {
  padding: 9px 13px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--standart-white);
  background-color: var(--accent-color);
  border-radius: 20px;
  border-width: 0;
  transition: background-color 250ms linear;

  &:hover,
  &:focus {
    background-color: #c80a39;
    cursor: pointer;
  }
  @include desktop {
    padding: 11px 23px;
    font-size: 14px;
    line-height: 1.29;
  }
}

.hero__btn--light {
  padding: 9px 13px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--accent-color);
  background: var(--standart-white);
  border-radius: 20px;
  border-width: 0;
  transition: background-color 250ms linear;

  &:hover,
  &:focus {
    background-color: #ecebeb;
    cursor: pointer;
  }
  @include desktop {
    padding: 11px 23px;
    font-size: 14px;
    line-height: 1.29;
  }
}

.hero__box--img {
  display: none;
  @include tablet {
    display: flex;
    // align-items: flex-end;
  }
  @include desktop {
    display: flex;
    // align-items: flex-end;
  }
}

.hero__text {
  @include tablet {
    max-width: 127px;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.5;
    color: var(--standart-white);
    margin-top: 41px;
    margin-bottom: 7px;
  }
  @include desktop {
    max-width: 200px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.42;
    color: var(--standart-white);
    margin-top: 68px;
    margin-bottom: 20px;
  }
}

.hero__btn--circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--standart-white);
  transition: background-color 0.25s linear;
  @include tablet {
    width: 18px;
    height: 18px;
  }
  @include desktop {
    width: 26px;
    height: 26px;
  }
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    cursor: pointer;
  }
}

// .btn-link {
//   display: flex;
//   align-items: center;
// }

.hero__btn--svg {
  fill: var(--accent-color);
  transition: fill 250ms linear;

  .hero__btn--circle:hover &,
  .hero__btn--circle:focus & {
    fill: var(--standart-white);
  }
  @include desktop {
    width: 26px;
    height: 26px;
  }
}

.hero__box--second {
  position: relative;
  z-index: 1;
  left: 26%;
  display: inline-block;
  @include tablet {
    position: absolute;
    top: 42px;
    left: 27%;
  }
  @include desktop {
    position: absolute;
    top: 100px;
    left: 428px;
  }

  &::before {
    content: '';
    position: absolute;
    top: -9px;
    // left: -28%;
    // top: 25px;
    left: -37%;
    display: block;
    width: 344px;
    height: 344px;
    border-radius: 50%;
    background-color: var(--main-dark);
    @include tablet {
      top: -15px;
      left: -15px;
      width: 335px;
      height: 335px;
    }
    @include desktop {
      top: -17px;
      left: -32px;
      width: 538px;
      height: 538px;
    }
  }
}

.hero__icecream--img {
  position: relative;
  left: 28px;
  top: 4px;
  @include tablet {
    top: 39px;
    left: 60px;
  }
  @include desktop {
    top: 44px;
    left: 80px;
  }
}

.hero__box--third {
  display: none;
  @include tablet {
    display: block;
    position: relative;
    z-index: 2;
    margin-left: auto;
  }
  @include desktop {
    display: block;
    padding-top: 52px;
  }
}

.hero__list {
  margin-bottom: 70px;
   @include desktop {
    margin-bottom: 103px;
  }
}

.hero__item {
    margin-right: 10px;
  &:first-child {
    margin-bottom: 13px;
  }
}

  .hero__text--number::before {
    position: absolute;
    z-index: -1;
    top: -2px;
    right: -6px;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    content: "";
    background-color:var(--standart-white);
       @include desktop {
    width: 30px;
    height: 30px;
  }
    
}

.hero__text--number {
  position: relative;
  margin-bottom: 2px;
  font-family: var(--title-font);
  font-size: 28px;
  line-height: 1.14;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-color);
  @include desktop {
    font-size: 46px;
    line-height: 1.15;
  }
}

.hero__text--desc {
  font-size: 10px;
  line-height: 1.25;
  text-align: right;
  color: var(--standart-white);
  @include desktop {
    font-size: 14px;
    line-height: 1.28;
  }
}
