.reviews__img {
  align-items: center;
  margin: 0 auto;
  margin-bottom: 32px;
}

.reviews__comment {
  background: #fafafa;
  padding: 43px 58px 26px 65px;
  margin-bottom: 16px;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;

  @media screen and (min-width: 768px) {
    max-width: 620px;
    max-height: 164px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 16px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 968px;
    max-height: 140px;
    align-items: center;
    padding: 32px 72px;
    margin-bottom: 16px;
  }
}

.reviews__comment-item {
  position: relative;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;

  text-align: center;

  color: #000000;

  z-index: 3;

  background: repeating-linear-gradient(
    180deg,
    transparent,
    transparent 29px,
    #e1e1e1 30px
  );

  @media screen and (min-width: 768px) {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 2.16;

    text-align: center;
    letter-spacing: 0.04em;
  }

  @media screen and (min-width: 1200px) {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.86;
    text-align: center;
    letter-spacing: 0.04em;
  }
}

.reviews__quotes {
  position: absolute;
  top: 27px;
  left: 54px;

  @media screen and (min-width: 768px) {
    top: 27px;
    left: 44px;
  }

  @media screen and (min-width: 1200px) {
    top: 14px;
    left: 27px;
  }
}

.reviews__name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.reviews__name {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;

  text-align: center;
  align-items: center;

  color: #000000;

  margin-bottom: 16px;
}

.reviews__name-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin-bottom: 10px;
}

.reviews__container-point {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.reviews__point {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

// .reviews__slider {
//   display: flex;
//   justify-content: center;
// }

// .reviews__ellipse {
//   &:not(:last-child) {
//     margin-right: 18px;
//   }
// }

.swiper-pagination {
  width: 10px;
  height: 10px;
}
